.App {
  box-sizing: border-box;
}

.divBorder {
  width: 600px;
  height: 120px;
  border: 2px solid black;
  display: flex;
  gap: 0.5em;
  margin: 1em;
  padding: 0.25em;
}

ul {
  list-style: none;
}
